<%# app/views/layouts/_navigation.html.erb %>
<nav>
  <%= link_to 'Willis Family Game Night', root_path, class: "nav-brand" %>

  <span class="nav-actions">
    <% if current_page?(root_path) %>
      <%# Add a class to the link to style it as a button %>
      <%= link_to 'New Game', new_game_path, class: "button" %>
    <% end %>
  </span>
</nav>